<h1>New Meeting</h1>
<%= form_tag "/meetings", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Address: <input type="text" name="address">
  </div>
  <div>
    Start time: <input type="datetime-local" name="start_time">
  </div>
  <div>
    End time: <input type="datetime-local" name="end_time">
  </div>
  <div>
    Notes: <textarea name="notes" cols="30" rows="10"></textarea>
  </div>
  <input type="submit" value="Submit">
<% end %>
